# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/
.env/
.venv/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore working project files
project.ipynb
.venv/bin/activate
.venv/bin/activate
.venv/bin/activate
.gitignore
.venv/bin/ipython3
.venv/bin/ipython
.venv/bin/fonttools
.venv/bin/debugpy-adapter
.venv/bin/debugpy
.venv/bin/activate.fish
